@model IEnumerable<FleksTanya12d.Data.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Създай нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Продукти
               @* @Html.DisplayNameFor(model => model.Products)*@
            </th>
            <th>
                Потребители
                @*@Html.DisplayNameFor(model => model.Users)*@
            </th>
            <th>
                Качество
                @*@Html.DisplayNameFor(model => model.Quantity)*@
            </th>
            <th>
                Поръчано
               @* @Html.DisplayNameFor(model => model.OrderedOn)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedOn)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактиране</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
