@model IEnumerable<FleksTanya12d.Data.Type>

@{
    ViewData["Title"] = "Тип";
}

<h1>Тип</h1>

<style>
    body {
        background: rgb(91,167,227);
        background: linear-gradient(0deg, rgba(91,167,227,1) 0%, rgba(135,223,255,1) 31%, rgba(198,238,255,1) 100%);
    }
</style>

<p>
    <a asp-action="Create">Създай нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име на типа
              @*  @Html.DisplayNameFor(model => model.TypeName)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактиране</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
