@model FleksTanya12d.Data.Product

@{
    ViewData["Title"] = "Изтриване";
}

<h1>Изтриване</h1>

<style>
    body {
        background: rgb(91,167,227);
        background: linear-gradient(0deg, rgba(91,167,227,1) 0%, rgba(135,223,255,1) 31%, rgba(198,238,255,1) 100%);
    }
</style>

<h3>Сигурен ли си, че искаш да изтриеш това?</h3>
<div>
    <h4>Продукт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Модел
            @*@Html.DisplayNameFor(model => model.Model)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Размер
            @*@Html.DisplayNameFor(model => model.Size)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            Количество
            @*@Html.DisplayNameFor(model => model.Quantity)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            Описание
           @* @Html.DisplayNameFor(model => model.Description)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Категория
           @* @Html.DisplayNameFor(model => model.Categories)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.Id)
        </dd>
        <dt class = "col-sm-2">
            Тип
            @*@Html.DisplayNameFor(model => model.Types)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Types.Id)
        </dd>
        <dt class = "col-sm-2">
            Спорт
            @*@Html.DisplayNameFor(model => model.Sports)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sports.Id)
        </dd>
        <dt class = "col-sm-2">
            Цена
            @*@Html.DisplayNameFor(model => model.Price)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Снимка
            @*@Html.DisplayNameFor(model => model.Image)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно към листа</a>
    </form>
</div>
