@model IEnumerable<FleksTanya12d.Data.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Създай нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.Model)*@
               Модел
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Size)*@
               Размер
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Quantity)*@
                Качество
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                Описание
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Categories)*@
                Категории
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Types)*@
                Типове
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Sports)*@
                Спортове
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@
                Цена
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Image)*@
                Снимка
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Types.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sports.SportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
                    <img src="@Html.DisplayFor(modelItem => item.Image)" width="100">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактиране</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                &nbsp;
                <a asp-controller="Orders" asp-action="CreateWithProductId" asp-route-productId="@item.Id">Купи</a>
            </td>
        </tr>
}
    </tbody>
</table>
