@model IEnumerable<FleksTanya12d.Data.Product>

@{
    ViewData["Title"] = "Дрехи";
}

<h1>Дрехи</h1>

<style>
    body {
        background: rgb(91,167,227);
        background: linear-gradient(0deg, rgba(91,167,227,1) 0%, rgba(135,223,255,1) 31%, rgba(198,238,255,1) 100%);
    }
</style>

@if (User.IsInRole("Admin"))
{
  <p>
    <a asp-action="Create">Създай нов</a>
  </p>  
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card" style="width: 18rem; color:black">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Image)" width="100" />
                <div class="card-body" style="background-color:cornflowerblue">


                    @* @Html.DisplayNameFor(model => model.Model)*@
                    Модел
                    @Html.DisplayFor(modelItem => item.Model)
                    <br>
                    @* @Html.DisplayNameFor(model => model.Size)*@
                    Размер
                    @Html.DisplayFor(modelItem => item.Size)
                    <br>
                    @*@Html.DisplayNameFor(model => model.Quantity)*@
                    Качество
                    @Html.DisplayFor(modelItem => item.Quantity)
                    <br>
                    @*@Html.DisplayNameFor(model => model.Categories)*@
                    Категории
                    @Html.DisplayFor(modelItem => item.Categories.CategoryName)
                    <br>
                    @*@Html.DisplayNameFor(model => model.Types)*@
                    Типове
                    @Html.DisplayFor(modelItem => item.Types.TypeName)
                    <br>
                    @*@Html.DisplayNameFor(model => model.Sports)*@
                    Спортове
                    @Html.DisplayFor(modelItem => item.Sports.SportName)
                    <br>
                    @*@Html.DisplayNameFor(model => model.Price)*@
                    Цена
                    @Html.DisplayFor(modelItem => item.Price)
                    <br>
                    @*@Html.DisplayNameFor(model => model.Image)*@
                    Снимка
                    @*@Html.DisplayFor(modelItem => item.Image)*@
                    <br>
                    @*<img src="@Html.DisplayFor(modelItem => item.Image)" width="100">*@
                    <br>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="material-symbols-outlined">Редактиране</a>

                        <a asp-action="Delete" asp-route-id="@item.Id" class="material-symbols-outlined">Изтриване</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="material-symbols-outlined" style="text-decoration:none; border:1px solid black; color:darkblue;" >Информация</a>
                    <a asp-controller="Orders" asp-action="Create" asp-route-id="@item.Id" class="material-symbols-outlined" style="text-decoration:none ; border:1px solid black; color:darkblue;">Поръчай</a>

                </div>
            </div>
        </div>
    }
</div>
